*{
    margin: 0;
    padding: 0;
}

.banner{
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    background-image:  url(../resources/Banner\ Image.png);
}
.banner .banner-text{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 35px;
    padding: 143px;
    background: rgba(24, 20, 20, 0.441);
}
.banner .banner-text .happy-h3-text{
    font-weight: 100;
}

.all-cate{
    font-family: 'Inter', sans-serif;
    
}

.all-cate > h1{
    margin: 13px auto;
    text-align: center;
    font-size: 70px;
    color: red;
}
.all-cate > h6{
    font-size: 18px;
    text-align: center;
    color: red;
}
.all-cate > h3{
    font-size: 36px;
    text-align: center;
    color: black;
}
.all-cate > img{
    display: block;
    width: 657px;
    margin: auto;
}

.banner2{
    background-image: url(../resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
}

.twenty-four{
    width: 320px;
    height: 464px;
    padding-top: 50px;
    padding-right: 100px;
}
.banner2 .banner2-text{
    background: rgba(18, 16, 16, 0.441);
}

.banner2 .banner2-text > h1{
    width: 642px;
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding: 126px 0 0 103px;
}

.banner2 .banner2-text > p{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 20px 0 0 100px;
    
}
.a-first{
    border-radius: 2px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 11px 20px 10px 97px;
    
}


.park-text{
    text-align: center;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}
.park-color{
    color: red;
}
.btn-second{
    border-radius: 5px;
    background: #991c1c;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    cursor: pointer;
}
.portfolio-section{
    width: 1320px;
    height: 600px;
    margin: 120px auto; 
}

.portfolio > h3{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

.portfolio > h1{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    text-transform: capitalize;
    padding: 6px auto;
}

.portfolio > p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
}

.box-img{
    display: block;
    justify-content: space-between;
    width: 1320px;  
}
.box-img > img{
    width: 424px;
    
    padding: 6.5px;
    border-radius: 10px;
}
.subscribe{
    text-align: center;
}
.subscribe > h1{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.subscribe > p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
form.subscribe-btn > input{
    color: #991c1c;
    margin: auto;
    width: 260px;
    height: 38px;
    border-radius: 5px;
    padding: 2px 0 0 0;
}
form.subscribe-btn button:hover {
    background: #c7500b;
    height: 40px;
    width: 150px;
    
  }
  form.subscribe-btn > button{
    font-size: 29px;
    border-radius: 5px;
    background-color: #c7500b;
  }
