*{
    margin: 0;
    padding: 0;
}

.banner{
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    background-image:  url(../resources/Banner\ Image.png);
}
.banner .banner-text{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 35px;
    padding: 145px;
    background: rgba(24, 20, 20, 0.441);
}
.banner .banner-text .happy-h3-text{
    font-weight: 100;
}